# Build Artifacts and Binary Directories
tools/
build_android/
build_android_aab/
*.apk
*.aab
*.idsig
*.keystore
temp_bundle.apk
*.mp4

# Python cache
__pycache__/
*.pyc

# Local SSL Certificates
cert.pem
key.pem

# OS / Editor Files
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

# Sensitive / Proprietary KML and Survey Data
*.kml
*.kmz
js/collar-cordero-data.js
